.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px dotted;
  height: 200px;
  width: 800px;
  margin: auto;
  margin-top: 30vh;
  background-color: white;
  box-shadow: 10px 10px 5px lightblue;
}
p {
  color: gray;
}

body {
  background-color: aliceblue;
}
